
@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');

body {
    font-family: 'Barrio', Arial, sans-serif;
    margin: 20px;
    background-color: #74c2b3;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 300px;
    height: auto;
}